//  @font-face
//     font-family 'hongdou'
//     font-style normal
//     src url(../fonts/hongdou.ttf)


::-webkit-scrollbar
    width : 10px;
    height: 0;

::-webkit-scrollbar-thumb
    border-radius   : 10px;
    background-color: #409EFF;
    background-image: -webkit-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.3) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0.3) 75%,
        transparent 75%,
        transparent
    );

body {
    font-family 'Fira Code', 'PingFangSC'
    color #304455
}
