
.m-lr-24 {
    margin-left: 24rem;
    margin-right: 24rem;
}

.m-tb-24 {
    margin-top: 24rem;
    margin-bottom: 24rem;
}

.f-r-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.f-c-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 高度空白空间 */

.space-h {
    height: 16rem;
}

.space-h-2 {
    height: 24rem;
}

.space-h-3 {
    height: 32rem;
}

.card {
    border-radius: var(--card-radius);
    background-color: var(--light-color);
    padding: 32rem;
}

.nav-space {
    padding: 100rem 0 109.5rem;
}

